body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;

  }

  .container{
    width: 100%;
  }
  .container-fluid{
    width: 1200px;
    margin: auto;
  }
  .side {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
  }

  .bg-side{
    background-color: rgb(8, 157, 108);
  }

  .btn{
    background-color: white;
    color:rgb(8, 157, 108);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
  }

  .btn:hover{
    background-color: rgb(26, 235, 165);
    color: white;
  }

  .menu a {
    text-decoration: none;
    margin-left: 30px;
    color: white;
    font-weight: 700;
  }
  .logo {
    color: white;
    font-size: 25px;
  }

  .menu a:hover{
    background-color: white;
    color: rgb(8, 157, 108);
    padding: 0px 10px 0px 10px;
  }

  .title{
    font-size: 60px;
  }

  .diff{
    color: rgb(8, 157, 108);
  }

  .btn-bg{
    background-color: rgb(8, 157, 108);
    color: white;
    border-radius: 30px;
  }

  .card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    margin: 30px;
  }

  .footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:  rgb(8, 157, 108);
    color: white;
  }

  .round{
    border-radius: 50%;
    background-color: brown;
  }